<a href="https://colab.research.google.com/github/SiyuanWuSFU/CM-T310-Artificial-Intelligence-Survey/blob/master/SVM_ipynb%E2%80%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This file is used to download Kaggle datasets into a personal Google Drive.
In order to use this, we need a kaggle.json file, which contains the API credentials.
To obtain a kaggle.json file, sign into your Kaggle account and go to your profile, then 'My Account'. Under the API section, click 'Create New API Token' to generate the kaggle.json file. Afterwards, save it in the same directory as this .ipynb file.

In [ ]:
!pip install tensorflow_addons
!pip install tensorflow
!pip install tensorflow --upgrade
!pip install keras --upgrade

In [56]:
!pip uninstall tensorflow_decision_forests

Found existing installation: tensorflow-decision-forests 1.5.0
Uninstalling tensorflow-decision-forests-1.5.0:
  Would remove:
    /usr/local/lib/python3.10/dist-packages/tensorflow_decision_forests-1.5.0.dist-info/*
    /usr/local/lib/python3.10/dist-packages/tensorflow_decision_forests/*
    /usr/local/lib/python3.10/dist-packages/yggdrasil_decision_forests/*
Proceed (Y/n)? Y
  Successfully uninstalled tensorflow-decision-forests-1.5.0

In [1]:
import tensorflow as tf
import tensorflow_addons as tfa
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/usr/local/lib/python3.10/dist-packages/tensorflow_addons/utils/tfa_eol_msg.py:23: UserWarning:

TensorFlow Addons (TFA) has ended development and introduction of new features.
TFA has entered a minimal maintenance and release mode until a planned end of life in May 2024.
Please modify downstream libraries to take dependencies from other repositories in our TensorFlow community (e.g. Keras, Keras-CV, and Keras-NLP).

For more information see: https://github.com/tensorflow/addons/issues/2807

  warnings.warn(

In [3]:
dtypes={
    'elapsed_time':np.float32,
    'event_name':'category',
    'name':'category',
    'level':np.uint8,
    'room_coor_x':np.float32,
    'room_coor_y':np.float32,
    'screen_coor_x':np.float32,
    'screen_coor_y':np.float32,
    'hover_duration':np.float32,
    'text':'category',
    'fqid':'category',
    'room_fqid':'category',
    'text_fqid':'category',
    'fullscreen':'category',
    'hq':'category',
    'music':'category',
    'level_group':'category'}

In [5]:
from google.colab import drive
drive.mount('/content/drive')

dataset_df = pd.read_csv('/content/drive/MyDrive/9417project/train.csv', dtype=dtypes)
labels = pd.read_csv('/content/drive/MyDrive/9417project/train_labels.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
#Reduce Memory Usage
def reduce_memory_usage(df):

    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))

    for col in df.columns:
        col_type = df[col].dtype.name
        if ((col_type != 'datetime64[ns]') & (col_type != 'category')):
            if (col_type != 'object'):
                c_min = df[col].min()
                c_max = df[col].max()

                if str(col_type)[:3] == 'int':
                    if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                        df[col] = df[col].astype(np.int8)
                    elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                        df[col] = df[col].astype(np.int16)
                    elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                        df[col] = df[col].astype(np.int32)
                    elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                        df[col] = df[col].astype(np.int64)

                else:
                    if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                        df[col] = df[col].astype(np.float16)
                    elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                        df[col] = df[col].astype(np.float32)
                    else:
                        pass
            else:
                df[col] = df[col].astype('category')
    mem_usg = df.memory_usage().sum() / 1024**2
    print("Memory usage became: ",mem_usg," MB")

    return df
dataset_df = reduce_memory_usage(dataset_df)

Memory usage of dataframe is 1529.83 MB
Memory usage became:  1053.3384094238281  MB

In [ ]:
print("Full train dataset shape is {}".format(dataset_df.shape))
dataset_df.head(5)

In [7]:
labels['session'] = labels.session_id.apply(lambda x: int(x.split('_')[0]) )
labels['q'] = labels.session_id.apply(lambda x: int(x.split('_')[-1][1:]) )
labels.head(5)

             session_id  correct            session  q
0  20090312431273200_q1        1  20090312431273200  1
1  20090312433251036_q1        0  20090312433251036  1
2  20090312455206810_q1        1  20090312455206810  1
3  20090313091715820_q1        0  20090313091715820  1
4  20090313571836404_q1        1  20090313571836404  1

In [52]:
print("Full label dataset shape is {}".format(labels.shape))

Full label dataset shape is (424116, 4)

In [8]:
CATEGORICAL = ['event_name', 'name','fqid', 'room_fqid', 'text_fqid']
NUMERICAL = ['elapsed_time','level','page','room_coor_x', 'room_coor_y',
        'screen_coor_x', 'screen_coor_y', 'hover_duration']

In [9]:
def feature_engineer(dataset_df):
    dfs = []
    for c in CATEGORICAL:
        tmp = dataset_df.groupby(['session_id','level_group'])[c].agg('nunique')
        tmp.name = tmp.name + '_nunique'
        dfs.append(tmp)
    for c in NUMERICAL:
        tmp = dataset_df.groupby(['session_id','level_group'])[c].agg('mean')
        dfs.append(tmp)
    for c in NUMERICAL:
        tmp = dataset_df.groupby(['session_id','level_group'])[c].agg('std')
        tmp.name = tmp.name + '_std'
        dfs.append(tmp)
    dataset_df = pd.concat(dfs,axis=1)
    dataset_df = dataset_df.fillna(-1)
    dataset_df = dataset_df.reset_index()
    dataset_df = dataset_df.set_index('session_id')
    return dataset_df

In [10]:
dataset_df = feature_engineer(dataset_df)
print("Full prepared dataset shape is {}".format(dataset_df.shape))

Full prepared dataset shape is (70686, 22)

In [ ]:
#dataset_df.head(25)
print(dataset_df.index.unique())

In [11]:
def split_dataset(dataset, test_ratio=0.20):
    USER_LIST = dataset.index.unique()
    split = int(len(USER_LIST) * (1 - 0.20))
    return dataset.loc[USER_LIST[:split]], dataset.loc[USER_LIST[split:]]

train_x, valid_x = split_dataset(dataset_df)
print("{} examples in training, {} examples in testing.".format(
    len(train_x), len(valid_x)))

56547 examples in training, 14139 examples in testing.

SVM model

In [12]:
from tensorflow import keras

from keras.layers import Activation, Dense
from keras.regularizers import l2
from keras.models import Sequential
from sklearn.metrics import f1_score
from sklearn.svm import SVC
model = SVC(probability=True)

In [13]:
# Fetch the unique list of user sessions in the validation dataset. We assigned
# `session_id` as the index of our feature engineered dataset. Hence fetching
# the unique values in the index column will give us a list of users in the
# validation set.
VALID_USER_LIST = valid_x.index.unique()

# Create a dataframe for storing the predictions of each question for all users
# in the validation set.
# For this, the required size of the data frame is:
# (no: of users in validation set  x no of questions).
# We will initialize all the predicted values in the data frame to zero.
# The dataframe's index column is the user `session_id`s.
prediction_df = pd.DataFrame(data=np.zeros((len(VALID_USER_LIST),18)), index=VALID_USER_LIST)

# Create an empty dictionary to store the models created for each question.
models = {}

# Create an empty dictionary to store the evaluation score for each question.
evaluation_dict ={}

In [14]:

for q_no in range(1,19):

    # Select level group for the question based on the q_no.
    if q_no<=3: grp = '0-4'
    elif q_no<=13: grp = '5-12'
    elif q_no<=22: grp = '13-22'
    print("### q_no", q_no, "grp", grp)


    # Filter the rows in the datasets based on the selected level group.
    train_df = train_x.loc[train_x.level_group == grp]
    train_users = train_df.index.values
    valid_df = valid_x.loc[valid_x.level_group == grp]
    valid_users = valid_df.index.values

    # Drop the 'correct' and 'level_group' columns from the features
    train_df = train_df.drop(columns=["level_group"])
    valid_df = valid_df.drop(columns=["level_group"])

    # Select the labels for the related q_no.
    train_labels = labels.loc[labels.q==q_no].set_index('session').loc[train_users]
    valid_labels = labels.loc[labels.q==q_no].set_index('session').loc[valid_users]
    train_labels = train_labels['correct']
    valid_labels = valid_labels['correct']
    print(train_labels)
    #train_df = np.asarray(train_df).astype(np.float32)
    #train_labels = np.asarray(train_labels).astype(np.float32)

    # Add the label to the filtered datasets.
    # train_dataset = tf.data.Dataset.from_tensor_slices((train_df, train_labels))
    # test_dataset = tf.data.Dataset.from_tensor_slices((valid_df, valid_labels))

    # train_dataset = train_dataset.shuffle(buffer_size=1000).batch(batch_size)
    # test_dataset = test_dataset.batch(batch_size)

    # SVM_model = keras.Sequential()
    # SVM_model.add(Dense(64, activation='relu'))
    # SVM_model.add(Dense(1, kernel_regularizer=l2(0.01)))
    # SVM_model.add(layers.Activation('linear'))

    # SVM_model.compile(loss='hinge',
    #           optimizer='adam',
    #           metrics=['accuracy'])
    # Train the model.
    print(train_df.shape)
    #SVM_model.fit(train_dataset,epochs=50)
    model.fit(train_df,train_labels)
    model.score(valid_df,valid_labels)

    valid_pred = model.predict(valid_df)
    valid_pred_proba = model.predict_proba(valid_df)[:, 1]
    # Store the model

    #models[f'{grp}_{q_no}'] = SVM_model
    # Evaluate the trained model on the validation dataset and store the
    # evaluation accuracy in the `evaluation_dict`.
    #loss, accuracy = SVM_model.evaluate(test_dataset,return_dict=True)

    #evaluation_dict[q_no] = accuracy

    # Use the trained model to make predictions on the validation dataset and
    # store the predicted values in the `prediction_df` dataframe.
    #predict = SVM_model.predict(test_dataset)
    prediction_df.loc[valid_users, q_no-1] = valid_pred_proba.flatten()

### q_no 1 grp 0-4
session
20090312431273200    1
20090312433251036    0
20090312455206810    1
20090313091715820    0
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    1
22000319092201970    1
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.72627703 0.72627834 0.72627814 ... 0.72627567 0.72627817 0.72627523]
f1_score: 0.8454189122978932
### q_no 2 grp 0-4
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    1
22000319082126604    1
22000319092201970    1
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.97966906 0.97966952 0.97966937 ... 0.97966766 0.97966952 0.9796675 ]
f1_score: 0.9876490172913758
### q_no 3 grp 0-4
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    1
22000319082126604    0
22000319092201970    1
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.93383764 0.93383374 0.93383424 ... 0.93384147 0.93383419 0.93384262]
f1_score: 0.9664473684210526
### q_no 4 grp 5-12
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    1
22000319092201970    1
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.80018488 0.80017937 0.80017847 ... 0.80020576 0.80018096 0.80025431]
f1_score: 0.8834399431414357
### q_no 5 grp 5-12
session
20090312431273200    1
20090312433251036    0
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    1
22000319092201970    0
22000319145510864    0
22000319365553870    0
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.5525315  0.55371858 0.55397546 ... 0.55013781 0.55332631 0.5       ]
f1_score: 0.7113742770586616
### q_no 6 grp 5-12
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    0
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    1
22000319092201970    1
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.7731544  0.77315452 0.77315453 ... 0.77315401 0.77315448 0.77315267]
f1_score: 0.8809212869523922
### q_no 7 grp 5-12
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    1
22000319092201970    1
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.73349122 0.73349402 0.73349462 ... 0.73348259 0.73349318 0.73343217]
f1_score: 0.8545388261028072
### q_no 8 grp 5-12
session
20090312431273200    1
20090312433251036    0
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    1
22000319082126604    0
22000319092201970    0
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.61484823 0.61484686 0.61484667 ... 0.61485412 0.61484724 0.61486151]
f1_score: 0.7747724317295187
### q_no 9 grp 5-12
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    1
22000319092201970    1
22000319145510864    1
22000319365553870    0
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.7307398  0.73074029 0.73074037 ... 0.73073794 0.73074015 0.73073211]
f1_score: 0.8624185372918176
### q_no 10 grp 5-12
session
20090312431273200    1
20090312433251036    0
20090312455206810    1
20090313091715820    0
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    1
22000319092201970    0
22000319145510864    0
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.51621807 0.51921083 0.51964907 ... 0.5        0.51831316 0.42983021]
f1_score: 0.6717513311267809
### q_no 11 grp 5-12
session
20090312431273200    1
20090312433251036    0
20090312455206810    1
20090313091715820    0
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    0
22000319092201970    0
22000319145510864    0
22000319365553870    0
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.64538532 0.64538629 0.64538646 ... 0.64538146 0.64538602 0.64537285]
f1_score: 0.7879099678456591
### q_no 12 grp 5-12
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    0
                    ..
22000319034806750    1
22000319082126604    1
22000319092201970    1
22000319145510864    0
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.86132539 0.8613286  0.86132962 ... 0.86131058 0.86132786 0.86124316]
f1_score: 0.9305650102110279
### q_no 13 grp 5-12
session
20090312431273200    0
20090312433251036    0
20090312455206810    1
20090313091715820    0
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    0
22000319092201970    0
22000319145510864    0
22000319365553870    0
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.27282731 0.27282744 0.27282743 ... 0.27282739 0.27282738 0.27283256]
f1_score: 0.0014925373134328358
### q_no 14 grp 13-22
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    0
                    ..
22000319034806750    1
22000319082126604    0
22000319092201970    0
22000319145510864    0
22000319365553870    0
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.70247505 0.70246713 0.70246426 ... 0.70248387 0.70246844 0.70250759]
f1_score: 0.8423639267723309
### q_no 15 grp 13-22
session
20090312431273200    1
20090312433251036    0
20090312455206810    0
20090313091715820    0
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    0
22000319092201970    1
22000319145510864    1
22000319365553870    0
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.47883631 0.47884156 0.47884345 ... 0.47883028 0.47884068 0.47881248]
f1_score: 0.019392917369308597
### q_no 16 grp 13-22
session
20090312431273200    0
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    1
22000319082126604    0
22000319092201970    1
22000319145510864    1
22000319365553870    0
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.73118378 0.73118531 0.73118586 ... 0.73118205 0.73118502 0.73117743]
f1_score: 0.8563455471972823
### q_no 17 grp 13-22
session
20090312431273200    1
20090312433251036    0
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    1
22000319082126604    0
22000319092201970    1
22000319145510864    0
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.68395294 0.6839509  0.68395012 ... 0.68395519 0.68395125 0.68395982]
f1_score: 0.8260057292315357
### q_no 18 grp 13-22
session
20090312431273200    1
20090312433251036    1
20090312455206810    1
20090313091715820    1
20090313571836404    1
                    ..
22000319034806750    1
22000319082126604    1
22000319092201970    1
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64
(18849, 21)
[0.95044918 0.95045258 0.95045379 ... 0.95044526 0.95045201 0.95043155]
f1_score: 0.9752120026092629

In [22]:
print(prediction_df)
print(valid_users)

                         0         1         2         3         4         5   \
session_id
22000320020067784  0.726277  0.979669  0.933838  0.800185  0.552531  0.773154
22000321083750010  0.726278  0.979670  0.933834  0.800179  0.553719  0.773155
22000401381351532  0.726278  0.979669  0.933834  0.800178  0.553975  0.773155
22000407142860316  0.726277  0.979669  0.933836  0.800194  0.552261  0.773154
22000407572357990  0.726278  0.979669  0.933834  0.800254  0.523193  0.773153
...                     ...       ...       ...       ...       ...       ...
22100215342220508  0.726274  0.979666  0.933845  0.800229  0.544883  0.773154
22100215460321130  0.726276  0.979668  0.933839  0.800207  0.548451  0.773154
22100217104993650  0.726276  0.979668  0.933841  0.800206  0.550138  0.773154
22100219442786200  0.726278  0.979670  0.933834  0.800181  0.553326  0.773154
22100221145014656  0.726275  0.979668  0.933843  0.800254  0.500000  0.773153

                         6         7         8         9         10        11  \
session_id
22000320020067784  0.733491  0.614848  0.730740  0.516218  0.645385  0.861325
22000321083750010  0.733494  0.614847  0.730740  0.519211  0.645386  0.861329
22000401381351532  0.733495  0.614847  0.730740  0.519649  0.645386  0.861330
22000407142860316  0.733489  0.614851  0.730739  0.511840  0.645384  0.861320
22000407572357990  0.733443  0.614850  0.730732  0.428916  0.645371  0.861241
...                     ...       ...       ...       ...       ...       ...
22100215342220508  0.733470  0.614859  0.730736  0.487629  0.645377  0.861290
22100215460321130  0.733481  0.614854  0.730738  0.500000  0.645381  0.861310
22100217104993650  0.733483  0.614854  0.730738  0.500000  0.645381  0.861311
22100219442786200  0.733493  0.614847  0.730740  0.518313  0.645386  0.861328
22100221145014656  0.733432  0.614862  0.730732  0.429830  0.645373  0.861243

                         12        13        14        15        16        17
session_id
22000320020067784  0.272827  0.702475  0.478836  0.731184  0.683953  0.950449
22000321083750010  0.272827  0.702467  0.478842  0.731185  0.683951  0.950453
22000401381351532  0.272827  0.702464  0.478843  0.731186  0.683950  0.950454
22000407142860316  0.272827  0.702481  0.478832  0.731183  0.683954  0.950447
22000407572357990  0.272834  0.702506  0.478813  0.731178  0.683960  0.950433
...                     ...       ...       ...       ...       ...       ...
22100215342220508  0.272828  0.703709  0.479684  0.743646  0.681978  0.950397
22100215460321130  0.272827  0.702487  0.478829  0.731182  0.683956  0.950444
22100217104993650  0.272827  0.702484  0.478830  0.731182  0.683955  0.950445
22100219442786200  0.272827  0.702468  0.478841  0.731185  0.683951  0.950452
22100221145014656  0.272833  0.702508  0.478812  0.731177  0.683960  0.950432

[4713 rows x 18 columns]
[22000320020067784 22000321083750010 22000401381351532 ...
 22100217104993650 22100219442786200 22100221145014656]

In [ ]:
for i in valid_pred:
  print(i)

In [123]:

valid_labels_correct = train_labels
#valid_labels_incorrect = labels.loc[(labels.q==1) & (labels.correct == 0)]
print(valid_labels_correct)
#print(valid_labels_incorrect)

session
20090312431273200    1
20090312433251036    0
20090312455206810    1
20090313091715820    0
20090313571836404    1
                    ..
22000319034806750    0
22000319082126604    1
22000319092201970    1
22000319145510864    1
22000319365553870    1
Name: correct, Length: 18849, dtype: int64

In [21]:
print(model.score(valid_df,valid_labels))

0.9516231699554424

In [19]:
for name, value in evaluation_dict.items():
  print(f"question {name}: accuracy {value:.4f}")

print("\nAverage accuracy", sum(evaluation_dict.values())/18)

Average accuracy 0.0

In [27]:
true_df = pd.DataFrame(data=np.zeros((len(VALID_USER_LIST),18)), index=VALID_USER_LIST)
for i in range(18):
    # Get the true labels.
    tmp = labels.loc[labels.q == i+1].set_index('session').loc[VALID_USER_LIST]
    true_df[i] = tmp.correct.values

max_score = 0; best_threshold = 0

# Loop through threshold values from 0.4 to 0.8 and select the threshold with
# the highest `F1 score`.
# using uniform threashold = 0.5 for the baseline


# for threshold in np.arange(0.4,0.8,0.01):
#     metric = tf.keras.metrics.F1Score(average="macro",threshold=threshold)
#     y_true = tf.one_hot(true_df.values.reshape((-1)), depth=2)
#     y_pred = tf.one_hot((prediction_df.values.reshape((-1))>threshold).astype('int'), depth=2)
#     metric.update_state(y_true, y_pred)
#     f1_score = metric.result().numpy()
#     if f1_score > max_score:
#         max_score = f1_score
#         best_threshold = threshold
metric = tf.keras.metrics.F1Score(average="macro",threshold=0.5)
y_true = tf.one_hot(true_df.values.reshape((-1)), depth=2)
y_pred = tf.one_hot((prediction_df.values.reshape((-1))>0.5).astype('int'), depth=2)
metric.update_state(y_true, y_pred)
f1_score = metric.result().numpy()

#print("threshold ", best_threshold, "\tF1 score ", max_score)

print("threshold ", 0.5, "\tF1 score ", f1_score)

threshold  0.6200000000000002 	F1 score  0.6503212

In [ ]:
from google.colab import drive
drive.mount('/content/drive')